/* 

Title: style.css
Purpose: CSS3 stylesheet for membership.php;
Creator: Grant McGovern;
Date: 07/16/2014;

~ WeatherFetch ~

*/

.account {
	background: url("img/clouds_background.png") no-repeat center center fixed;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

.account p {
	color: white;
}

.account a {
	color: white;
}

.account h3 {
	color: white;
}

.logo {
  	display: block;
	font-size: 20px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 30px;
	width: 300px;
	height: 87px;
  	background:url("img/WeatherFetch_Logo_TRANSPARENT.svg") no-repeat;
}

#deleteAccount {
	margin-top: 30px;
	width: 150px;
}

.column_1 {
	height: 0px;
}

.column_2 {
	height: 930px;
}

.column_2 h1 {
	text-align: center;
	margin-bottom: 40px;
}

.column_2 p {
	display: inline;
	margin-top: 30px;
}
.column_2 hr {
	margin-top: 70px;
}

.column_2 th {
	font-size: 14px;
}

.column_3 {
	height: 0px;
}

.centered {
	text-align: center;
	margin-top: 15px;
}

#submitButton {
	background-image: linear-gradient(to bottom,#a3aaff 0,#10b2ff 250%);
	margin-top: 15px;
}

#submitButton:hover { 
	background-color: #10b2ff; 
} 	


