/* 

Title: style.css
Purpose: CSS3 stylesheet for index.html;
Creator: Grant McGovern;
Date: 07/16/2014;

~ WeatherFetch ~

*/

html, body {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	overflow-x: hidden;
}

.navbar .brand {
  	display: block;
	font-size: 20px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	width: 300px;
	height: 87px;
  	background:url("../img/WeatherFetch_Logo_TRANSPARENT.svg") no-repeat;
}

/* Select Picker */
.selectpicker {
	background-image: linear-gradient(0deg,#fff 0,white 100%);
}

.nav-center {
	margin: 0;
	float: none;
}

.navbar-inner {
	height: 87px;
}

#myAccount {
	font-size: 15px;
	text-align: center;
	margin-top: 10px;
	/*color: black;*/
}

#navBarArea {
	text-align: center;
	height: 70px;
}

#header {
	margin-left: auto;
	margin-right: auto
}

#logo {
	height: 100%;
}


.centerPanel {
	background-image: url("../img/background.jpg");
	height: 750px;
}


#registrationForm {
	margin-right: auto;
	margin-left: auto;
	font-family: 'Nunito', sans-serif;
	line-height: 2;
}

#registrationPanel {
	margin-top: 20px;
	background-color: rgba(255, 255, 255, 0.8);
	border-radius: 24px;
}

#registrationText h1 {
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	color: white;
	margin-top: 25px;
	font-size: 38px;
}

.form-actions {
	text-align: center;
	margin: 0;
}

.form-group.formbox {
	margin-bottom: 8.5px;
}

#submitButton {
	background-image: linear-gradient(to bottom,#a3aaff 0,#10b2ff 250%);
}

#submitButton:hover { 
	background-color: #10b2ff; 
} 	

/* First Frame */

.firstFrame .column1 {
	height: 0px;
}

.firstFrame .column2 {
	height: 600px;
	background-color: white;
}

.firstFrame .column3 {
	height: 0px;
}

.firstFrame h1 {
	font-family: 'Open Sans', sans-serif;	
	font-size: 40px;
	text-align: center;
	color: black;
	margin-top: 80px;
	margin-bottom: 75px;
}

.firstFrame h2 {
	font-family: 'Nunito', sans-serif;
	margin-left: 50px;
}

.firstFrame p {
	font-size: 17px;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	margin-top: 40px;
	margin-bottom: 40px;
}

.firstFrame .container-fluid {
	background-color: white;
}

#iPhone {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* Second Frame */

.providers {
	height: 100%;
	background-color: #4cffd0;
	background-size: cover;
}

#providers-container {
	background-color: #4cffd0;
}


.providers h1 {
	font-family: 'Open Sans', sans-serif;
	font-size: 25px;
	color: black;
	text-align: center;
}

/* Third Frame */
#thirdframe-container {
	background-color: #10b2ff;
}

.thirdFrame .col-md-6 {
	height: 100%;
	background-color: #10b2ff;
}

.thirdFrame .container-fluid {
	background-color: #10b2ff;
	height: 100%;
}

.thirdFrame h1 {
	font-size: 40px;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	margin-top: 80px;
	color: black;
}

.thirdFrame ul {
	padding-bottom: 50px;
}

.thirdFrame li {
	display: inline-block; 
	margin-top: 70px;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;

}

.thirdFrame img {
	margin: 0 auto;
}

/* Fourth Frame */

.fourthFrame .col-md-6 {
	background-color: #a3aaff;
	height: 100%;
}

#forthframe-container {
	background-color: #a3aaff;
}

.fourthFrame .container-fluid {
	background-color: #a3aaff;
}

.fourthFrame h1 {
	font-size: 40px;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	margin-top: 80px;
	color: black;
}

.fourthFrame img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 70px;
	padding-bottom: 70px;
	width: 450px;
}

.fourthFrame ul {
	padding-bottom: 20px;
}

.fourthFrame li {
	display: inline-block; 
	margin-top: 50px;
	font-family: 'Open Sans', sans-serif;
	font-size: 19px;

}

#unprepared {
	font-family: 'Open Sans', sans-serif;
	font-size: 25px;
}


/* Fifth Frame */

.fifthFrame {
	height: 100%;
	background-color: white;
	margin-bottom: 50px;
}

.fifthFrame h1 {
	font-family: 'Fredoka One', cursive;
	font-size: 70px;
	margin-top: 40px;
	text-align: center;
}

.fifthFrame p {
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	margin-top: 20px;
}

.fifthFrame img {
	width: 200px;
	margin: 0 auto;
	padding-top: 30px;
}

/* Random */

#weatherLogos {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 20px;
	padding-bottom: 20px;
}

/* Footer */

.footer {
	/*position: absolute;*/	
	bottom: 0;
	height: 90px;
	background-color: #f5f5f5;
}

.footer p {
	text-align: center;
	margin-top: 7px;
}

.footer a {
	text-align: center;
}

.redheart {
	color: red;
}
